In [1]:
import bamboolib as bam

In [2]:
bam.enable()

Success: the bamboolib extension was enabled successfully. You can disable it via 'bam.disable()'. You will now see a magic bamboolib button when you display your dataframes, for example via 'df'

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("data/adults.csv")

In [5]:
df

,age,workclass,education,Education-num,occupation,race,sex,Hours-per-week,wage
0,44,Local-gov,HS-grad,9,Protective-serv,White,Male,52,>50K
1,66,Self-emp-not-inc,7th-8th,4,Farming-fishing,White,Male,48,<=50K
2,25,Private,Assoc-acdm,12,Tech-support,White,Female,25,<=50K
3,20,NaN,Some-college,10,NaN,White,Male,60,<=50K
4,26,Private,Some-college,10,Sales,White,Female,40,<=50K
...,...,...,...,...,...,...,...,...,...
4995,51,Private,HS-grad,9,Craft-repair,White,Male,40,<=50K
4996,39,Private,Assoc-voc,11,Craft-repair,White,Male,40,<=50K
4997,65,Private,HS-grad,9,Farming-fishing,White,Male,24,<=50K
4998,37,Self-emp-inc,Assoc-voc,11,Sales,White,Male,60,>50K
4999,42,Private,HS-grad,9,Exec-managerial,Black,Female,25,<=50K